<div class="row">
  <div class="large-10 large-centered columns">
    <h2 style="text-align: center;">Taxis Rent</h2>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= form_tag taxis_search_path,  data: { abide: '' } do %>
        <fieldset class="fieldset-border">

          <!-- Row Country -->
          <div class="row">
            <div class="large-2 columns">
              <%= label_tag :country, 'Country : ', class: 'right inline' %>
            </div>
            <div class="large-10 columns">
              <%= select_tag :country, options_from_collection_for_select(@countries, 'id', 'name'), prompt: 'Please Select', id: 'country', required:true %>
              <small class="error">You need to choose a Country.</small>
            </div>
          </div>

          <!-- Row City -->
          <div class="row">
            <div class="large-2 columns">
              <%= label_tag :city, 'City : ', class: 'right inline' %>
            </div>
            <div class="large-10 columns">
              <%= select_tag :city, nil, prompt: 'Please Select', disabled: true, id: 'city' ,required:true%>
              <small class="error">You need to choose a City.</small>
            </div>
          </div>

          <!-- Row Pick Up Location -->
          <div class="row">
            <div class="large-2 columns">
              <%= label_tag :pick_up_location, 'Pick-Up Location : ', class: 'right inline' %>
            </div>
            <div class="large-10 columns">
              <%= select_tag :pick_up_location, nil, prompt: 'Please Select', disabled: true, id: 'pick_up_location' ,required:true %>
              <small class="error">You need to choose a Pick-Up Location.</small>
            </div>
          </div>

          <!-- Row Pick Up Location -->
          <div class="row">
            <div class="large-2 columns">
              <%= label_tag :drop_off_location, 'Drop-Off Location : ', class: 'right inline' %>
            </div>
            <div class="large-10 columns">
              <%= select_tag :drop_off_location, nil, prompt: 'Please Select', disabled: true, id: 'drop_off_location' ,required:true %>
              <small class="error">You need to choose a Drop-Off Location.</small>
            </div>
          </div>
          <!-- Row Passengers and Type of Trip -->
          <div class="row">
            <div class="large-2 columns">
              <%= label_tag :passengers, 'Passengers :', class: 'right inline' %>
            </div>
            <div class="large-5 columns">
              <div class="row">
              	<div class="large-2 columns">
                  <%= text_field_tag :passengers, 1, id: 'passengers', readonly:true, class:'input-center' %>
              	</div>
                <div class="large-10 columns" style="padding-top: 2%;">
                  <div id="slider"></div>
                </div>
              </div>
            </div>
            <div class="large-5 columns">
              <div class="row">
                <div class="large-6 columns">
                  <label class="type-trip-align">
                    <%= radio_button_tag :type_trip, true, checked: true %>
                    <span>One-Way</span>
                  </label>
                </div>
                <div class="large-6 columns">
                  <label class="type-trip-align">
                    <%= radio_button_tag :type_trip, false %>
                    <span>Round Trip</span>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- Row Date of Pick-Up Time -->
          <div class="row">
            <div class="large-2 columns">
              <%= label_tag :begin_date, 'Date : ', class: 'right inline' %>
            </div>
            <div class="large-4 columns">
              <div class="row collapse">
                <div class="large-10 columns">
                  <%= text_field_tag :begin_date, DateTime.now.strftime('%d/%m/%Y'), id: 'begin-datepicker', readonly: true %>
                </div>
                <div class="large-2 columns">
                  <%= button_tag type: 'button', class: 'button small round postfix', id: 'begin-calendar' do %>
                      <i class="fi-calendar"></i>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="large-2 columns">
              <%= label_tag :begin_time, 'Pick-Up Time : ', class: 'right inline' %>
            </div>
            <div class="large-4 columns">
              <%= time_select :begin_time, :begin_time, { prompt: true, minute_step: 5 }, { class: 'time-select',required:true} %>
              <small class="error" style="width: 272px;margin-top: 0 !important">You need to choose an hour and minutes.</small>
            </div>
          </div>


          <!-- Row Return Date of Pick-Up Time -->
          <div class="row" id="return_date" style="display: none">
            <div class="large-2 columns">
              <%= label_tag :end_date, 'Return Date : ', class: 'right inline' %>
            </div>
            <div class="large-4 columns">
              <div class="row collapse">
                <div class="large-10 columns">
                  <%= text_field_tag :end_date, (DateTime.now + 2.days).strftime('%d/%m/%Y'), id: 'end-datepicker', readonly: true %>
                </div>
                <div class="large-2 columns">
                  <%= button_tag type: 'button', class: 'button small round postfix', id: 'end-calendar' do %>
                      <i class="fi-calendar"></i>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="large-2 columns">
              <%= label_tag :end_time, 'Pick-Up Time : ', class: 'right inline' %>
            </div>
            <div class="large-4 columns">
              <%= time_select :end_time, :end_time, { prompt: true, minute_step: 5 }, { class: 'time-select'} %>
              <small class="error" style="width: 272px;margin-top: 0 !important">You need to choose an hour and minutes.</small>
            </div>
          </div>


          <div class="row">
            <div class="large-6 large-centered columns" style="padding-top: 2%;">
              <%= button_tag type: 'submit', class: 'button small radius expand' do %>
                  <i class="fi-magnifying-glass"></i> Search
              <% end %>
            </div>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>
