<div class="row">
  <div class="large-10 large-centered columns">
    <h1 style="text-align: center;">Taxis Rent</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= form_tag "#" do %>
        <fieldset class="fieldset-border">

          <!-- Row Country -->
          <div class="row">
            <div class="large-2 columns">
              <label for="right-label" class="right inline"><%= label_tag 'Country : ' %></label>
            </div>
            <div class="large-10 columns">
              <%= select_tag :country, options_from_collection_for_select(@countries,'id','name'), prompt: 'Please Select', id: 'country' %>
            </div>
          </div>

          <!-- Row City -->
          <div class="row">
          	<div class="large-2 columns">
              <label for="right-label" class="right inline"><%= label_tag 'City : ' %></label>
          	</div>
            <div class="large-10 columns">
              <%= select_tag :city, nil, prompt: 'Please Select', disabled: true, id:'city' %>
            </div>
          </div>

        </fieldset>
    <% end %>
  </div>
</div>
