<% taxi_form = session[:taxi_form] %>
<%= form_tag taxis_search_path, data: { abide: '' } do %>
    <fieldset class="fieldset-border">

      <!-- Row Country -->
      <div class="row">
        <div class="large-12 columns">
          <%= label_tag :country, 'Country' %>
          <%= select_tag :country, options_from_collection_for_select(form_data.countries, 'id', 'name', taxi_form.country), prompt: 'Please Select', id: 'country', required: true %>
          <small class="error">You need to choose a Country.</small>
        </div>
      </div>

      <!-- Row City -->
      <div class="row">
        <div class="large-12 columns">
          <%= label_tag :city, 'City' %>
          <%= select_tag :city, options_from_collection_for_select(form_data.cities, 'id', 'name', taxi_form.city), prompt: 'Please Select', id: 'city', required: true %>
          <small class="error">You need to choose a City.</small>
        </div>
      </div>

      <!-- Row Pick Up Location -->
      <div class="row">
        <div class="large-12 columns">
          <%= label_tag :pick_up_location, 'Pick-Up Location' %>
          <%= select_tag :pick_up_location, options_from_collection_for_select(form_data.pick_ups, 'id', 'name', taxi_form.pick_up_location), prompt: 'Please Select', id: 'pick_up_location', required: true %>
          <small class="error">You need to choose a Pick-Up Location.</small>
        </div>
      </div>

      <!-- Row Drop Off Location -->
      <div class="row">
        <div class="large-12 columns">
          <%= label_tag :drop_off_location, 'Drop-Off Location' %>
          <%= select_tag :drop_off_location, options_from_collection_for_select(form_data.drop_offs, 'id', 'name', taxi_form.drop_off_location), prompt: 'Please Select', id: 'drop_off_location', required: true %>
          <small class="error">You need to choose a Drop-Off Location.</small>
        </div>
      </div>

      <!-- Row Passengers -->
      <div class="row" style="padding-left: 3%;">
        <div class="large-5 columns">
          <%= label_tag :passengers, 'Passengers :', class: 'left inline' %>
        </div>
        <div class="large-5 columns end">
          <%= text_field_tag :passengers, taxi_form.passengers, id: 'passengers', readonly: true, class: 'input-center left' %>
        </div>
      </div>
      <div class="row">
        <div class="large-11 large-offset-1 columns">
          <div id="slider"></div>
        </div>
      </div>

      <!-- Row Type of Trip -->
      <div class="row" style="padding-top: 8%;">
        <div class="large-6 columns">
          <label class="type-trip-align">
            <% if taxi_form.type_trip %>
                <%= radio_button_tag :type_trip, true, checked: true %>
            <% else %>
                <%= radio_button_tag :type_trip, true %>
            <% end %>
            <span>One-Way</span>
          </label>
        </div>
        <div class="large-6 columns">
          <label class="type-trip-align">
            <% if taxi_form.type_trip %>
                <%= radio_button_tag :type_trip, false %>
            <% else %>
                <%= radio_button_tag :type_trip, false, checked: true %>
            <% end %>
            <span>Round Trip</span>
          </label>
        </div>
      </div>

      <!-- Row Date of Pick-Up -->
      <div class="row">
        <div class="large-12 columns">
          <%= label_tag :begin_date, 'Pick-Up Date' %>
          <div class="row collapse">
            <div class="large-10 columns">
              <%= text_field_tag :begin_date, taxi_form.begin_date, id: 'begin-datepicker', readonly: true %>
            </div>
            <div class="large-2 columns">
              <%= button_tag type: 'button', class: 'button small round postfix', id: 'begin-calendar' do %>
                  <i class="fi-calendar"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= label_tag :begin_time, 'Pick-Up Time' %>
          <%= time_select :begin_time, :begin_time, { prompt: true, minute_step: 5 }, { class: 'time-select-after-search', required: true } %>
          <small class="error" style="width: 252px;margin-top: 0 !important">You need to choose an hour and minutes.
          </small>
        </div>
      </div>

      <!-- Row Return Date -->
      <div id="return_date" style="<%= (taxi_form.type_trip) ? 'display:none;' : '' %>">
        <div class="row">
          <div class="large-12 columns">
            <%= label_tag :end_date, 'Return Date' %>
            <div class="row collapse">
              <div class="large-10 columns">
                <%= text_field_tag :end_date, taxi_form.end_date, id: 'end-datepicker', readonly: true %>
              </div>
              <div class="large-2 columns">
                <%= button_tag type: 'button', class: 'button small round postfix', id: 'end-calendar' do %>
                    <i class="fi-calendar"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= label_tag :end_time, 'Pick-Up Time' %>
            <%= time_select :end_time, :end_time, { prompt: true, minute_step: 5 }, { class: 'time-select-after-search' } %>
            <%#= select_time %>
            <small class="error" style="width: 252px;margin-top: 0 !important;">You need to choose an hour and minutes.
            </small>
          </div>
        </div>
      </div>

      <!-- Row Submit Button -->
      <div class="row">
        <div class="large-12 columns">
          <%= button_tag type: 'submit', class: 'button small radius expand' do %>
              <i class="fi-magnifying-glass"></i> Search
          <% end %>
        </div>
      </div>

    </fieldset>
<% end %>