<div class="row">
  <div class="large-9 large-offset-1 columns end">

    <div class="row">
      <div class="large-9 large-offset-2 columns">
        <h2>Edit password </h2>
      </div>
    </div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

        <fieldset class="fieldset-border">

          <% if resource.errors.count != 0 %>
              <div id="error_explanation">
                <h4> <%=resource.errors.count%> Errors prohibited the current operation from being saved.</h4>
              </div>
          <%end%>

          <div class="row">
            <div class="large-3 columns">
              <label for="right-label" class="right inline"><%= f.label :password, "New Password"%></label>
            </div>
            <div class="large-9 columns">
              <%= f.password_field :password, :autocomplete => "off"%>
              <%= render partial: "devise/shared/errors",  locals: { field: :password} %>
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns">
              <label for="right-label" class="right inline">
                <%= f.label :password_confirmation, "Password confirmation" %>
              </label>
            </div>

            <div class="large-9 columns">
              <%= f.password_field :password_confirmation %>
              <%= render partial: "devise/shared/errors",  locals: { field: :password_confirmation} %>
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns">
              <label for="right-label" class="right inline">
                <%= f.label :current_password , "Current password" %>
              </label>
            </div>

            <div class="large-9 columns">
              <small>(Please write your current password so that you can update the changes.)</small>
              <%= f.password_field :current_password %>
              <%= render partial: "devise/shared/errors",  locals: { field: :current_password} %>
            </div>
          </div>

          <div class="row">
            <div class="large-3 large-offset-5 columns end">
              <%= f.submit "Update", class:'button small radius' %>
            </div>
          </div>

          <div class="row">
            <div class="large-2 large-offset-10 columns">
              <%= link_to "Back", :back %>
            </div>
          </div>

        </fieldset>
    <% end %>
  </div>
</div>

