<div class="row">
  <div class="large-9 large-offset-1 columns end">

    <div class="row">
      <div class="large-9 large-offset-2 columns">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
      </div>
    </div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

        <fieldset class="fieldset-border">

          <% if resource.errors.count != 0 %>
              <div id="error_explanation">
                <h4> <%=resource.errors.count%> Errors prohibited the current operation from being saved.</h4>
              </div>
          <%end%>

          <div class="row">
            <div class="large-3 columns">
              <label for="right-label" class="right inline"><%= f.label :name %></label>
            </div>
            <div class="large-9 columns">
              <%= f.text_field :name %>
              <%= render partial: "devise/shared/errors",  locals: { field: :name} %>
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns">
              <label for="right-label" class="right inline"><%= f.label :email %></label>
            </div>
            <div class="large-9 columns">
              <%= f.email_field :email, :autofocus => true %>
              <%= render partial: "devise/shared/errors",  locals: { field: :email} %>
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns">
              <label for="right-label" class="right inline"><%= f.label :phone_number %></label>
            </div>
            <div class="large-9 columns">
              <%= f.text_field :phone_number  %>
              <%= render partial: "devise/shared/errors",  locals: { field: :phone_number} %>
            </div>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="row">
            <div class="large-3 columns">
              <label for="right-label" class="right inline"><%= f.label :nif %></label>
            </div>
            <div class="large-9 columns">
              <%= f.text_field :nif %>
              <%= render partial: "devise/shared/errors",  locals: { field: :nif} %>
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns">
              <label for="right-label" class="right inline"><%= f.label :bi %> </label>
            </div>
            <div class="large-9 columns">
              <%= f.text_field :bi %>
              <%= render partial: "devise/shared/errors",  locals: { field: :bi} %>
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns">
              <label for="right-label" class="right inline"><%= f.label :address %> </label>
            </div>
            <div class="large-9 columns">
              <%= f.text_field :address %>
              <%= render partial: "devise/shared/errors",  locals: { field: :address} %>
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns">
              <label for="right-label" class="right inline"><%= f.label :driver_license %> </label>
            </div>
            <div class="large-9 columns">
              <%= f.text_field :driver_license %>
              <%= render partial: "devise/shared/errors",  locals: { field: :driver_license} %>
            </div>
          </div>

          <div class="row">
            <div class="large-4 large-offset-3 columns">
              <%= link_to "Change my password", user_password_edit_path %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="large-3 large-offset-5 columns end">
              <%= f.submit "Update", class:'button small radius' %>
            </div>
          </div>

          <div class="row">
            <div class="large-2 large-offset-10 columns">
              <%= link_to "Back", :back %>
            </div>
          </div>

        </fieldset>
    <% end %>

  </div>
</div>

