<div id="sub" class="lifestyle_img">
  <div class="content">
    <div id="title">
      <h1 style="font-size: 35px;"><b>The best prices for hire a car in one place - Guaranteed</b></h1>
    </div>
    <div id="subTitle">
      <p id="h1sub" style="font-size: 17px;">Complete the form below to search for cheap car hire in over 6000 destinations worldwide, Find Out!</p>
    </div>
  </div>
</div>

<div class="row">

<div class="large-6 columns" id="search_box">
  <%= form_tag cars_search_results_path , data: { abide: '' } do %>

      <!-- title search box -->
      <div class="row">
        <div class="large-12 large-centered columns">
          <h2><b>Search for a Renting Car</b></h2>
        </div>
      </div>
      <!-- pick Countries select -->
      <div class="row">
        <div class="large-3 columns">
          <%= label_tag :pick_country, 'Country : ', class: 'right inline' %>
        </div>
        <div class="large-9 columns">
          <%= select_tag :pick_country, options_from_collection_for_select(@countries, 'id', 'name'), prompt: 'Please Select', id: 'pick_country', required: true %>
          <small class="error">You need to choose a Country.</small>
        </div>
      </div>
      <!-- pick cities select -->
      <div class="row">
        <div class="large-3 columns">
          <%= label_tag :pick_city, 'City : ', class: 'right inline' %>
        </div>
        <div class="large-9 columns">
          <%= select_tag :pick_city, nil, prompt: 'Please Select', disabled: true, id: 'pick_city', required: true %>
          <small class="error">You need to choose a Country.</small>
        </div>
      </div>
      <!-- pick subsidiary select -->
      <div class="row">
        <div class="large-3 columns">
          <%= label_tag :pick_subsidiary, 'Subsidiary : ', class: 'right inline' %>
        </div>
        <div class="large-9 columns">
          <%= select_tag :pick_subsidiary, nil, prompt: 'Please Select', disabled: true, id: 'pick_subsidiary', required: true %>
          <small class="error">You need to choose a Country.</small>
        </div>
      </div>

      <!-- Checkbox Deliver in the same place -->
      <div class="row">
        <div class="large-9 large-offset-3 columns">
          <%= check_box_tag(:return_at_same_location, value = "yes", checked = true) %>
          <%= label_tag :return_at_same_location, 'Return at same location' %>
        </div>
      </div>

      <div id="drop_location">
        <div class="row">
          <div class="large-3 columns">
            <h5><b> Deliver at:</b> </h5>
          </div>
        </div>

        <!-- drop Countries select -->
        <div class="row">
          <div class="large-3 columns">
            <%= label_tag :drop_country, 'Country : ', class: 'right inline' %>
          </div>
          <div class="large-9 columns">
            <%= select_tag :drop_country, options_from_collection_for_select(@countries, 'id', 'name'), prompt: 'Please Select', disabled: true,id: 'drop_country' %>
          </div>
        </div>
        <!-- drop cities select -->
        <div class="row">
          <div class="large-3 columns">
            <%= label_tag :drop_city, 'City : ', class: 'right inline' %>
          </div>
          <div class="large-9 columns">
            <%= select_tag :drop_city, nil, prompt: 'Please Select', disabled: true, id: 'drop_city' %>
          </div>
        </div>
        <!-- drop subsidiary select -->
        <div class="row">
          <div class="large-3 columns">
            <%= label_tag :drop_subsidiary, 'Subsidiary : ', class: 'right inline' %>
          </div>
          <div class="large-9 columns">
            <%= select_tag :drop_subsidiary, nil, prompt: 'Please Select', disabled: true, id: 'drop_subsidiary' %>
          </div>
        </div>
      </div>

      <!-- Row Date of Pick-Up Time -->
      <div class="row">

        <div class="large-6 large-offset-2 columns">
          <div class="row collapse">
            <div class="row">
              <div class="large-12 columns">
                Pick-Up Date:
              </div>
            </div>
            <div class="large-10 columns">
              <%= text_field_tag :begin_date, DateTime.now.strftime('%d/%m/%Y'), id: 'begin-datepicker', readonly: true %>
            </div>
            <div class="large-2 columns">
              <%= button_tag type: 'button', class: 'button large round postfix', id: 'begin-calendar' do %>
                  <i class="fi-calendar"></i>
              <% end %>
            </div>
          </div>
        </div>

        <div class="large-4 columns">
          <div class="row collapse">
            <div class="row">
              <div class="large-12 columns">
                Pick-Up Time:
              </div>
            </div>
            <div class="large-10 columns">
              <%= text_field_tag :timepicker_begin,Time.now.strftime('%H:%M'), id:'begin_timepicker', readonly: true %>
            </div>
            <div class="large-2 columns">
              <%= button_tag type: 'button',class: 'button large round postfix begin_timepicker_button_trigger' do %>
                  <i class="fi-clock"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- Row Date of Drop-Off Time -->
      <div class="row">

        <div class="large-6 large-offset-2 columns">
          <div class="row collapse">
            <div class="row">
              <div class="large-12 columns">
                Drop-Off Date:
              </div>
            </div>
            <div class="large-10 columns">
              <%= text_field_tag :end_date, DateTime.now.strftime('%d/%m/%Y'), id: 'end-datepicker', readonly: true %>
            </div>
            <div class="large-2 columns">
              <%= button_tag type: 'button', class: 'button large round postfix', id: 'end-calendar' do %>
                  <i class="fi-calendar"></i>
              <% end %>
            </div>
          </div>
        </div>

        <div class="large-4 columns">
          <div class="row collapse">
            <div class="row">
              <div class="large-12 columns">
                Drop-Off Time:
              </div>
            </div>
            <div class="large-10 columns">
              <%= text_field_tag :timepicker_end,Time.now.strftime('%H:%M'), id:'end_timepicker', readonly: true %>
            </div>
            <div class="large-2 columns">
              <%= button_tag type: 'button',class: 'button large round postfix end_timepicker_button_trigger' do %>
                  <i class="fi-clock"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- Search Button -->
      <div class="row">
        <div class="large-5 large-centered columns" style="padding-top: 2%;">
          <%= button_tag type: 'submit', class: 'button large radius expand' do %>
              <i class="fi-magnifying-glass"></i> Search
          <% end %>
        </div>
      </div>


  <% end %>
</div>


<div class="large-6 columns">

  <div class="area">

    <h3 id="title_logos"><b>Great brands. Huge choice. Great Savings!</b></h3>
    <div class="logos-wrap">
      <div class="logos">
        <%= image_tag 'agencies/hertz_logo.png', class: 'subsidiaries_list' %>

        <%= image_tag 'agencies/avis_logo.png', class: 'subsidiaries_list' %>

        <%= image_tag 'agencies/europcar_logo.png', class: 'subsidiaries_list' %>

        <%= image_tag 'agencies/alamo_logo.png', class: 'subsidiaries_list' %>

        <%= image_tag 'agencies/budget_logo.png', class: 'subsidiaries_list' %>

        <%= image_tag 'agencies/national_logo.png', class: 'subsidiaries_list' %>

        <%= image_tag 'agencies/dollar_logo.png', class: 'subsidiaries_list' %>

        <%= image_tag 'agencies/thrifty_logo.png', class: 'subsidiaries_list' %>

      </div>
    </div>
    <br>
    <div class="row">
      <div class="large-12 columns">
        <p id="reviewcentre">
          Rated <em>No.1</em> by real users of <span>review centre</span>
        </p>
      </div>
    </div>
  </div>
</div>

</div>

<div class="row">
  <div class="large-8 large-centered columns">
    <p id="callHours">
      Our team is here to help you 24 hours a day, 7 days a week
    </p>
    <p id="callus">
      Do you want to book by phone ?
      Contact Us
      <span style="color: #000000">913 626 859</span>
    </p>
  </div>
</div>









