<div class="fixed">
  <nav class="top-bar" data-topbar data-options="is_hover: true">
    <ul class="title-area">
      <li class="name">
        <%= link_to root_path do %>
            <%= image_tag 'setare-logo.png', class: 'logo-topbar' %>
        <% end %>

      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <% if user_signed_in? %>
            <li>
              <%= link_to 'Taxis', taxis_index_path %>
            </li>
            <li class="divider"></li>
            <li><a href="#">Cars</a></li>
            <li class="divider"></li>
            <li class="has-dropdown not-click">
              <%= link_to current_user.name, '#' %>
              <ul class="dropdown">
                <li>
                  <%= link_to edit_user_registration_path do %>
                      <i class="fi-torso large"></i> Profile
                  <% end %>
                </li>
                <li>
                  <%= link_to '#' do %>
                      <i class="fi-book-bookmark large"></i> My Reservations
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                      <i class="fi-power large"></i> Logout
                  <% end %>
                </li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Register', new_user_registration_path %> </li>
        <% end %>
      </ul>
    </section>

  </nav>
</div>