<!DOCTYPE html>
<html>
<head>
  <title>Setare</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= favicon_link_tag 'setare-ico.ico' %>
  <%= csrf_meta_tags %>
</head>
<body class="f-topbar-fixed">

<%= render 'layouts/partials/header' %>
<%= render partial: 'layouts/partials/flash_messages' %>
<%= yield %>
<%#= render 'layouts/partials/footer' %>

</body>
</html>
